<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Pirates Travel Index</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  
  <!-- <nav class="navbar sticky-top navbar-expand-lg navbar-custom">
    <a class="navbar-brand piratey" href="/">Pirates Travel Index</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/maps">Maps</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/patterns">Patterns</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/rankings">Rankings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/density">Density</a>
        </li>
      </ul>
      <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap">
          <li class="nav-item">
            <img src="../static/resources/images/coinicon.svg" alt="coin" height="50" width="50" onclick="document.getElementById('jingle').play()">
          </li>
      </ul>
    </div>
  </nav> -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-custom">
    <href class="navbar-brand airy" href="/">Up in the Air{bnb}</href>
    </nav>
    <div class="divider"></div>
    <div class="contentlist">
        <ul>
            <li>
                <a href="#section1">About</a>   
            </li>
            <li>
                <a href="#section2">ChrisTitle</a> 
            </li>
            <li>
                <a href="#section3">NathanTitle</a> 
            </li>
            <li>
                <a href="#section4">HazelTitle</a> 
            </li>
            <li>
                <a href="#section5">HayleyTitle</a>
            </li>   
            <li>
                <a href="#section6">PaulTitle</a>
            </li>
        </ul>
    </div>
   
  <div class="divider spacer" id="section1"></div>

  <div class="main" id="about">
    <h1 class="page-title">Up in the Air{bnb}</h1>
    <p>
        Talking about this project.
        This text is great.
        This description is so deep.
    </p>
    <div class="spacer"></div>
  </div>

  <div class="divider" id="section2"></div>

  <div class="main" id="person1">
    <!-- Chris write your stuff here -->
    <h2>Title</h2>
    <p>
        Description of Chris's stuff
    </p>
    <div class="spacer"></div>
  </div>

  <div class="divider" id="section3"></div>

  <div class="main" id="person2">
    <!-- Nathan write your stuff here -->
    <h2>Title</h2>
    <p>
        Description of Nathan's stuff
    </p>
    <div class="spacer"></div>
  </div>

  <div class="divider" id="section4"></div>

  <div class="main" id="person3">
    <!-- Hazel write your stuff here -->
    <h2>Title</h2>
    <p>
        Description of Hazel's stuff
    </p>
    <div class="spacer"></div>
  </div>

  <div class="divider" id="section5"></div>

  <div class="main" id="person4">
    <!-- Hayley write your stuff here -->
    <h2>Title</h2>
    <p>
        Description of Hayley's stuff
    </p>
    <div class="spacer"></div>
  </div>

  <div class="divider" id="section6"></div>

  <div class="main" id="person5">
    <!-- Paul write your stuff here -->
    <h2>Title</h2>
    <p>
        Description of Paul's stuff
    </p>
    <div class="spacer"></div>
  </div>

  <footer class="page-footer" style="background-color: #FFFFFF;">
    <div class="text-center py-3" style="font-size: 12px;">
      Made with 🖤 by <a href="https://github.com/c-l-nguyen">Chris Nguyen</a>,
            <a href="https://github.com/toestie">Nathan Wong</a>,
            <a href="https://github.com/hazeldespain">Hazel Despain</a>,
            <a href="https://github.com/hayleyjellison">Hayley Jellison</a>,
            and <a href="https://github.com/paulvonderhaar">Paul Vonder Haar</a>
    </div>
  </footer>
  
  <!-- <audio id="jingle" src="../static/resources/audio/.mp3"></audio> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script> -->
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
  <!-- <script src="https://d3plus.org/js/d3plus-plot.v0.8.full.min.js"></script> -->

</body>

</html>
